<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="shortcut icon" type="image/png" href="img/SourceqQwik_Logo_G.png"/>

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/login.css" />
    <title>SourceQwik - On-Demand Manufacturing for Fashion Industry</title>

    <script defer src="/js/login.js"></script>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <img
          src="/static/images/SourceqQwik_Logo_G.png"
          alt="SourceQwik logo"
          class="nav__logo"
          id="logo"
          data-version-number="3.0"
        />
        <ul class="nav__links">
          <li class="nav__item">
            <a class="nav__link" href="#section--1">Home</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">For Brands</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">For Manufacturers</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Contact Us</a>
          </li>
          <li class="nav__item">
            <a class="nav__link login_box btn--show-login" href="#">Log In</a>
          </li>
          <li class="nav__item">
            <a class="nav__link nav__link--btn " href="#"
              >#Fight Covid</a
            >
          </li>
        </ul>
      </nav>

    </header>
    <section class="section" id="section--1">   
    <div class="">
        <h2 class="login__header .section__title">
          Register as Manufacturer 
        </h2>
        <form class="login__form">
         <label>Your name</label>
          <input type="text" />
          <label>Firm's name</label>
          <input type="text" />
          <p>Your role at the firm:</p>
            <input type="radio" id="owner" name="role" value="Owner">
            <label for="owner">Owner</label><br>
            <input type="radio" id="other" name="role" value="Other">
            <label for="other">Other</label><br>
          <label>Website Address (if any)</label>
          <input type="text" />
          <label>Email Address</label>
          <input type="email" />
          <label>Address</label>
          <input type="text" />
          <label>Phone </label>
          <input type="number" />
          <p>Please select your gender:</p>
  <input type="checkbox">
  <label>Men's wear</label><br>
  <input type="checkbox">
  <label>Ladies wear</label><br>
  <input type="checkbox">
  <label>Kid's wear</label><br>
  <input type="checkbox">
  <label>Home</label><br>
  <input type="checkbox">
  <label>Accessoories</label><br>
  <input type="checkbox">
  <label>Others</label><br>

  <br> 
          <label>What do you manufacture in above categories?</label>
          <input type="text" />
          <label>How many pieces can you make in day? *
        </label>
        <p>Are you Sedex certified :</p>
        <input type="radio">
        <label>Yes</label><br>
        <input type="radio">
        <label >No</label><br>
        <input type="radio">
        <label >Maybe</label><br>
        <p>Do you make your own designs</p>
        <input type="radio">
        <label>Yes</label><br>
        <input type="radio">
        <label >No</label><br>
        <p>Do you procure your own raw materials?</p>
        <label>Yes</label><br>
        <input type="radio">
        <label >No</label><br>
        <input type="radio">
        <label >Maybe</label><br>
        <p>Do you have your own QA/QC team?</p>
        <input type="radio">
        <label>Yes</label><br>
        <input type="radio">
        <label >No</label><br>
        <p>Tell us about some brands you have worked with?
        </p>
        <textarea id="subject" name="subject" style="height:200px"></textarea>
        <div id="drop-area">
            <form class="my-form">
              <p>Upload multiple files with the file dialog or by dragging and dropping images onto the dashed region</p>
              <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">
              <label class="button" for="fileElem">Select some files</label>
            </form>
          </div>
          <button class="btn"> Submit </button>
        </form>
        <span>Already registerd?</span>
        <a href="login.html"></a>
        <button class="btn">Login</button>
    </a>
      </div>
      
    </section>

    <footer class="footer">
      <ul class="footer__nav">
        <li class="footer__item">
          <a class="footer__link" href="#">About</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Pricing</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Terms of Use</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Privacy Policy</a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">Contact Us</a>
        </li>
      </ul>
      <img src="img/SourceqQwik_Logo_G.png" alt="Logo" class="footer__logo" />
      <p class="footer__copyright">
        SourceQwik © 2021. All rights reserved
      </p>
    </footer>
  </body>
</html>
