.footer {
  padding: 2rem 3rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #37383d;
  text-align: center;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 3rem;
  display: block;
  margin: 0 auto;
}

.footer__copyright {
  margin-bottom: 0;
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}
